*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
/* 
font-family: 'Merriweather', serif; */

body{
      max-width: 1600px;
      margin: 0 auto;
      font-family: 'Inter', sans-serif;
}
header{
      background-image:url(images/Rectangle\ 15.png), url(images/Banner\ Image.png);
      background-repeat: no-repeat, no-repeat;
      height: 600px;
      margin: 0 140px;
      margin-top: 50px;
      font-family: 'Merriweather', serif;
}
header h4{
      color: #FFF;
      text-align: center;
      font-size: 32px;
      font-weight: 400;
      padding-top: 177px;
}
header h2{
      color: #FFF;
      text-align: center;
      font-size: 72px;
      font-weight: 900;
      line-height: 95px;
      padding-top: 10px;
}


/* main section here */
.off-section{
      text-align: center;
}
.off-section h1{
      color: #F00;
      font-size: 88px;
      font-weight: 700;
      padding-top: 120px;
      padding-bottom: 48px;
}
.off-section h5{
      color: #F00;
      font-size: 24px;
      font-weight: 500;
}
.off-section h2{
      color: #070211;
      font-size: 48px;
      font-weight: 700;
}
.off-section img{
      margin-top: 48px;
      margin-bottom: 120px;
}

.party-section{
      background-image:url(images/Vector.png), url(images/Vectorrr.png);
      background-repeat:  no-repeat;
      height: 600px;
      margin: 0 140px;
      display: flex;
}
.column img{
      margin: 68px 0 0 50px;

}
.party-section h1{
      color: #FFF;
      font-family: Merriweather;
      font-size: 64px;
      font-weight: 900;
      line-height: 88px;
      letter-spacing: 7.04px;
      padding: 126px 0 24px 126px;
}
.party-section p{
      color: rgba(255, 255, 255, 0.80);
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      padding-left: 126px;
}
.party-section button{
      color: #FFF;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      background-color: transparent;
      margin: 48px 0 0 150px;
      border: none;
}

.team-section{
      background-image: url(images/team.png);
      background-repeat:  no-repeat;
      height: 482px;
      margin: 0 140px;
      margin-top: 120px;
      text-align: center;
}
.info-section{
      padding-top: 100px;
}
.color-info{
      color: #F00;
      font-size: 32px;
      font-weight: 600;
      line-height: 56px;
}

.info-section p{
      color: #070211;
      font-size: 32px;
      font-weight: 600;
      line-height: 56px;
}
.join-btn{
      border-radius: 8px;
      background: #F00;
      padding: 16px 32px;
      color: #FFF;
      margin-top: 48px;
      font-size: 20px;
      font-weight: 700;
      border: none;
}